[submodule "bootstrap"]
	path = bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "html5-boilerplate"]
	path = html5-boilerplate
	url = git://github.com/h5bp/html5-boilerplate.git
[submodule "holmes"]
	path = holmes
	url = git://github.com/redroot/holmes.git
[submodule "helium-css"]
	path = helium-css
	url = http://github.com/geuis/helium-css.git
[submodule "wp-stack"]
	path = wp-stack
	url = https://github.com/markjaquith/WP-Stack/
[submodule "wordpress-cap"]
	path = wordpress-cap
	url = git://github.com/infovore/wordpress-cap.git
[submodule "facebook-php-sdk"]
	path = facebook-php-sdk
	url = https://github.com/facebook/facebook-php-sdk
[submodule "css3-facebook-buttons"]
	path = css3-facebook-buttons
	url = https://github.com/necolas/css3-facebook-buttons.git
[submodule "webicons"]
	path = webicons
	url = https://github.com/adamfairhead/webicons.git
[submodule "foundation-icons"]
	path = foundation-icons
	url = https://github.com/zurb/foundation-icons.git
[submodule "mailchimp"]
	path = mailchimp
	url = https://github.com/mailchimp/Email-Blueprints.git
[submodule "lesshat"]
	path = lesshat
	url = https://github.com/CSSHat/LESSHat.git
[submodule "search-replace-db"]
	path = search-replace-db
	url = https://github.com/interconnectit/Search-Replace-DB.git
[submodule "easyfader"]
	path = easyfader
	url = https://github.com/patrickkunka/easyfader.git
[submodule "antwort"]
	path = antwort
	url = https://github.com/InterNations/antwort.git
