[submodule "bootstrap"]
	path = bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "html5-boilerplate"]
	path = html5-boilerplate
	url = git://github.com/h5bp/html5-boilerplate.git
[submodule "holmes"]
	path = holmes
	url = git://github.com/redroot/holmes.git
[submodule "helium-css"]
	path = helium-css
	url = http://github.com/geuis/helium-css.git
[submodule "foundation"]
	path = foundation
	url = git://github.com/zurb/foundation.git
